/**
*	Vincent Ferrer - Personal / Portfolio Website
*	Version: 1.0
*	Author: Vincent / vinnyy
**/

/** MONUMENT EXTENDED FONT**/

@import url(//db.onlinewebfonts.com/c/5a7f8e143dbda0b26952bc287ad05cc4?family=Monument+Extended+Light);   

@font-face {font-family: "Monument Extended Light"; src: url("//db.onlinewebfonts.com/t/5a7f8e143dbda0b26952bc287ad05cc4.eot"); src: url("//db.onlinewebfonts.com/t/5a7f8e143dbda0b26952bc287ad05cc4.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5a7f8e143dbda0b26952bc287ad05cc4.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5a7f8e143dbda0b26952bc287ad05cc4.woff") format("woff"), url("//db.onlinewebfonts.com/t/5a7f8e143dbda0b26952bc287ad05cc4.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5a7f8e143dbda0b26952bc287ad05cc4.svg#Monument Extended Light") format("svg"); }
/* SECTION */
.section {
	position: relative;
	overflow: hidden;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 70px;
	padding-bottom: 70px;
	border-bottom: 1px solid #585d65;
	z-index: 12;
}

.section:last-child {
	border-bottom: none;
}

.section .content {
	position: relative;
	max-width: 720px;
}

.section .titles {
	position: relative;
	margin: 0 0 60px 0;
	font-family: 'Monument Extended Light', sans-serif;
	font-weight: lighter;
}

.section .titles .title {
	margin-bottom: 10px;
	max-width: 70%;
	font-size: 55px;
	line-height: 1.2;
	color: #FFF;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.section .titles .subtitle {
	font-size: 14px;
	line-height: 1.2;
	color: #68e0cf;
	text-transform: uppercase;
}


.content-carousel {
	position: relative;
	z-index: 2;
}

.content-carousel .owl-carousel .item img {
	width: auto;
	max-width: 100%;
}

.content-carousel .navs {
	position: absolute;
	left: auto;
	right: 0;
	top: -150px;
	height: 1px;
	z-index: 3;
	font-size: 0;
}

.content-carousel .navs:before {
	content: '';
	position: absolute;
	left: 18px;
	top: 32px;
	width: 1000%;
	height: 1px;
	background: #585d65;
}

.content-carousel .navs .prev,
.content-carousel .navs .next {
	margin-left: 15px;
	margin-top: 0;
	position: relative;
	top: 0;
	left: 0;
	right: auto;
	width: 64px;
	height: 64px;
	line-height: 62px;
	background: #373b40;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	border: 1px solid #585d65;
	border-radius: 64px;
	-moz-border-radius: 64px;
	-webkit-border-radius: 64px;
	-khtml-border-radius: 64px;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}


@media (max-width: 1199px) {
	.section {
		padding-left: 30px;
		padding-right: 30px;
	}

}

@media (max-width: 720px) {
	.section {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 30px;
		padding-right: 30px;
		text-align: center;
	}


	.section .titles {
		margin-bottom: 50px;
		text-align: center;
	}


	.section .titles .title {
		max-width: 100%;
		font-size: 34px;
	}


	.content-carousel {
		padding-bottom: 100px;
	}


	.content-carousel .navs {
		margin-right: -75px;
		top: auto;
		bottom: 64px;
		right: 50%;
	}


	.content-carousel .navs .prev, .content-carousel .navs .next {
		margin-left: 22px;
	}


	.content-carousel .navs .prev {
		margin-left: 0;
	}

}

/* HEADER */
.header {
	font-family: "Poppins";
	padding: 0 0 0 50px;
	position: fixed;
	left: 50px;
	right: 50px;
	top: 40px;
	height: 80px;
	z-index: 100;
	background: #585d65;
	border-radius: 80px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	-khtml-border-radius: 80px;
	transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
	-moz-transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
	-webkit-transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
	-o-transition: all 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
}

.header .logo {
	font-family: 'Monument Extended Light', sans-serif;
	position: relative;
	float: left;
	width: 200px;
	height: 80px;
	display: flex;
	font-size: 0;
	line-height: 1.2;
	color: #FFF;
	align-items: center;
}

.header .logo a {
	color: #FFF;
}

.header .logo img {
	max-width: 100%;
}

.header .logo img.logo-img {
	margin-right: 30px;
	width: auto;
	height: auto;
	max-width: 36px;
	display: inline-block;
}

.header .logo .logo-lnk {
	font-size: 18px;
	text-decoration: none;
	display: inline-block;
	max-width: 100px;
}

.header .download-cv-btn {
	float: right;
	margin-top: 8px;
	margin-right: 8px;
	border-color: #FFF;
}

.header .download-cv-btn:hover .icon {
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
}

.header .top-menu {
	margin-right: 50px;
	float: right;
}

.header .top-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 80px;
	display: flex;
	align-items: center;
}

.header .top-menu ul li {
	margin-left: 40px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.header .top-menu ul li a {
	position: relative;
	overflow: hidden;
	display: block;
	font-size: 12px;
	line-height: 50px;
	color: #FFF;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
	-moz-transition: color 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
	-webkit-transition: color 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
	-o-transition: color 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
}

.header .top-menu ul li:first-child {
	margin-left: 0;
}

.header .top-menu ul li:hover > .sub-menu, .header .top-menu ul li:hover > .children {
	opacity: 1;
	pointer-events: auto;
}

.header .top-menu ul li.current-menu-item > a {
	color: #68e0cf;
}

.header .top-menu ul li:hover > a:hover .animated-button em {
	transform: translateY(calc(16px * -1));
}


.header .top-menu-nav .sub-menu,
.header .top-menu-nav .children {
	position: absolute;
	left: 0;
	top: 50px;
	padding: 10px 0;
	width: 190px;
	height: auto;
	display: block;
	background: #585d65;
	z-index: 50;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
	-khtml-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
}

.header .top-menu ul li:last-child .sub-menu,
.header .top-menu-nav .children {
	right: 0;
	left: auto;
}

.header .top-menu-nav .sub-menu:before,
.header .top-menu-nav .children:before {
	content: '';
	position: absolute;
	left: 10px;
	top: -12px;
	border: 6px solid transparent;
	border-bottom: 6px solid #585d65;
}

.header .top-menu ul li:last-child .sub-menu:before,
.header .top-menu-nav .children:before {
	right: 10px;
	left: auto;
}

.header .top-menu-nav .sub-menu li,
.header .top-menu-nav .children li {
	margin-left: 0;
	padding: 10px 20px;
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	height: auto;
}

.header .top-menu-nav .sub-menu li:last-child,
.header .top-menu-nav .children li:last-child {
	border-bottom: none;
}

.header .top-menu-nav .sub-menu li a,
.header .top-menu-nav .children li a {
	margin: 0;
	display: block;
	font-size: 11px;
	line-height: 1.4;
	color: #FFF;
}

.header .top-menu-nav .sub-menu li a:hover,
.header .top-menu-nav .children li a:hover,
.header .top-menu-nav .sub-menu li.active a,
.header .top-menu-nav .children li.active a {
	color: #68e0cf;
}

.header .menu-btn {
	padding: 20px;
	position: relative;
	margin: 0 auto;
	margin-top: 8px;
	width: 64px;
	height: 64px;
	line-height: 62px;
	display: none;
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 64px;
	-moz-border-radius: 64px;
	-webkit-border-radius: 64px;
	-khtml-border-radius: 64px;
}

.header .menu-btn:before, .header .menu-btn:after {
	content: '';
	position: absolute;
	top: 22px;
	left: 20px;
	right: 20px;
	height: 2px;
	background: #FFF;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

.header .menu-btn:after {
	top: auto;
	bottom: 22px;
}

.header .menu-btn span {
	position: absolute;
	top: 50%;
	left: 25px;
	right: 25px;
	height: 2px;
	background: #FFF;
	margin-top: -1px;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}

/* HEADER (ACTIVE) */
.header.active {
	top: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	background: #373b40;
}

.header.active .menu-btn:before {
	opacity: 0;
}

.header.active .menu-btn:after {
	bottom: 30px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.header.active .menu-btn span {
	left: 20px;
	right: 20px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.header.active .top-menu {
	height: auto;
	opacity: 1;
	visibility: visible;
}

.header.active .top-menu ul li .sub-menu,
.header.active .top-menu ul li .children {
	display: block;
}


@media (max-width: 1199px) {
	.header {
		padding: 0 30px;
		left: 0;
		right: 0;
		top: 20px;
		height: 80px;
		background: none;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-khtml-border-radius: 0;
	}


	.header.fixed {
		top: 0;
		background: #3a3e44;
	}


	.header .download-cv-btn {
		display: none;
	}


	.header .top-menu-nav {
		display: block;
	}


	.header .top-menu {
		position: relative;
		top: 0;
		left: 0;
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		float: none;
		width: auto;
		height: 0px;
		text-align: center;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.35s cubic-bezier(0.165, 0.85, 0.45, 1);
		-moz-transition: opacity 0.35s cubic-bezier(0.165, 0.85, 0.45, 1);
		-webkit-transition: opacity 0.35s cubic-bezier(0.165, 0.85, 0.45, 1);
		-o-transition: opacity 0.35s cubic-bezier(0.165, 0.85, 0.45, 1);
	}


	.header.active .top-menu {
		padding-top: 30px;
		clear: both;
	}


	.header .top-menu .menu-top-menu-container {
		display: block;
	}


	.header .top-menu ul {
		display: block;
	}


	.header .top-menu ul li {
		margin-left: 0;
		display: block;
	}


	.header .top-menu ul li a {
		font-size: 20px;
	}


	.header .top-menu-nav .sub-menu, .header .top-menu-nav .children {
		position: relative;
		left: 0;
		top: 0;
		margin: 20px 0;
		width: auto;
		text-align: center;
		pointer-events: none;
		display: block;
		opacity: 0;
		visibility: hidden;
	}


	.header.active .top-menu-nav .sub-menu, .header.active .top-menu-nav .children {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}


	.header .top-menu-nav .sub-menu:before, .header .top-menu-nav .children:before {
		margin-left: -6px;
		left: 50%;
	}


	.header .top-menu-nav .sub-menu li .sub-menu, .header .top-menu-nav .children li .children {
		left: 0;
		top: 0;
		margin: 0 -20px;
		background: #f4f4f4;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		-khtml-box-shadow: none;
	}


	.header .top-menu-nav .sub-menu li .sub-menu:before, .header .top-menu-nav .children li .children:before {
		left: 50%;
		top: -12px;
		border: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #FFF;
	}


	.header .top-menu ul li:last-child .sub-menu:before, .header .top-menu-nav .children:before {
		right: 50%;
		left: auto;
		margin-left: 0;
		margin-right: -6px;
	}


	.header .menu-btn {
		display: block;
		float: right;
	}

}

/* - BACKGROUND */
.background-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 45%;
	height: 100%;
}


.background-filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #68e0cf;
}

.background-filter .background-img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	mix-blend-mode: luminosity;
}

.background-filter.gradient:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, #373b40 90%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.2) 0%, #373b40 90%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.034) 0%, #373b40 90%)
}

.background-filter.gradient .background-img {
	-webkit-filter: none;
	filter: none;
	mix-blend-mode: unset;
}

.background-filter.circle {
	clip-path: circle(75% at 10% 45%);
	-webkit-clip-path: circle(75% at 10% 45%);
}

.background-filter.circle .background-img {
	-webkit-filter: none;
	filter: none;
	mix-blend-mode: unset;
}


.background-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


@media (max-width: 1199px) {
	.background-bg {
		position: relative;
		width: 100%;
		height: 70vh;
	}


	.background-filter.circle {
		clip-path: circle(100% at 50% 0%);
		-webkit-clip-path: circle(100% at 50% 0%);
	}

}

@media (max-width: 720px) {
	.background-bg {
		height: 450px;
	}

}

/* HOME SECTION*/
.section.home {
	margin: 0;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 0;
	position: relative;
	overflow: visible;
	height: 100vh;
	z-index: 11;
}

.section.home .h-title {
	font-family: 'Monument Extended Light', sans-serif;
	margin: 40px 0 0 -11vw;
	padding: 4.2vw;
	font-size: 4.2vw;
	line-height: 1.2;
	font-weight: lighter;
	color: #FFF;
	background: #373b40;
	word-break: break-word;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	border-radius: 264px;
	-moz-border-radius: 264px;
	-webkit-border-radius: 264px;
	-khtml-border-radius: 264px;
}

.section.home .h-title strong {
	color: #68e0cf;
}

.section.home .home-content {
	padding-left: 8%;
	max-width: 500px;
}

.section.home .home-content .h-subtitles {
	margin: 0 0 30px 0;
	height: 18px;
}

.section.home .home-content .h-subtitle,
.section.home .home-content .typed-subtitle,
.section.home .home-content .typed-cursor {
	display: inline-block;
	font-size: 14px;
	line-height: 1.2;
	color: #68e0cf;
	font-weight: 600;
	text-transform: uppercase;
}

.section.home .home-content .typed-cursor {
	margin-left: 3px;
}

.section.home .home-content .h-text {
	margin: 0 0 30px 0;
	font-size: 14px;
	color: #fff;
}

.section.home .btn {
	margin-right: 15px;
}

.section.home .mouse-btn {
	padding: 0;
	width: 64px;
	font-size: 18px;
	text-align: center;
}

.section.home .mouse-btn .icon {
	margin-left: 0;
	position: relative;
	top: -5px;
	left: 0;
	animation: mouse-anim 1s ease-out 0s infinite;
}

.section.home .mouse-btn:hover .icon {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-o-transform: translateX(0);
}


.home-carousel {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.home-carousel .swiper-container,
.home-carousel .swiper-wrapper {
	height: 100%;
}

.home-carousel .swiper-slide {
	opacity: 1 !important;
}

.home-carousel .swiper-slide.first {
	z-index: 2;
}

.home-carousel .background-filter {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
	-moz-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
	-webkit-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
	-o-transition: 1s all cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}

.home-carousel .swiper-slide.swiper-clip-active .background-filter {
	clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
}


@media (max-width: 1199px) {
	.section.home {
		margin: 0;
		padding-top: 0;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 70px;
		height: auto !important;
		text-align: center;
	}


	.section.home .h-title {
		margin: 0 auto;
		margin-top: -200px;
		padding: 70px 35px 30px 35px;
		width: 480px;
		font-size: 60px;
		background: #373b40;
		border-radius: 360px 360px 0 0;
		-moz-border-radius: 360px 360px 0 0;
		-webkit-border-radius: 360px 360px 0 0;
		-khtml-border-radius: 360px 360px 0 0;
	}


	.section.home .home-content {
		padding-left: 0;
		max-width: 100%;
	}


	.section.home .home-content .h-subtitles {
		margin: 0 0 40px 0;
		height: 18px;
	}


	.section.home .home-content .h-text {
		display: none;
	}


	.section.home .mouse-btn {
		display: none !important;
	}


	.section.home .btn {
		margin-right: 0;
	}

}

@media (max-width: 720px) {
	.section.home {
		padding-bottom: 50px;
	}


	.section.home .h-title {
		margin-top: -140px;
		padding: 70px 15px 15px 15px;
		width: auto;
		font-size: 34px;
	}

}

/* ABOUT */
.info-list {
	margin-bottom: 20px;
}

.info-list ul {
	list-style: none;
	margin: 0 -20px;
	padding: 0;
	font-size: 0;
}

.info-list ul li {
	margin: 0 0 6px 0;
	padding: 0 20px;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	font-size: 14px;
}

.info-list ul li strong {
	display: inline-block;
	vertical-align: top;
	width: 90px;
	text-transform: uppercase;
	color: #68e0cf;
}


@media (max-width: 720px) {
	.info-list ul li {
		width: 100%;
	}


	.info-list ul li strong {
		margin-right: 15px;
		width: auto;
	}

}

/** HOBBIES **/

/* - Service */
.hobby-items {
	margin: 0 -20px;
	margin-top: -60px;
	font-size: 0;
}

.hobby-items .hobby-col {
	margin-top: 60px;
	padding: 0 20px;
	display: inline-block;
	vertical-align: top;
	width: 50%;
}


.hobby-item .icon {
	margin-bottom: 15px;
	font-size: 32px;
	height: 32px;
	color: #68e0cf;
}

.hobby-item .name {
	margin: 0 0 30px 0;
	font-size: 18px;
	color: #FFF;
}


@media (max-width: 720px) {
	.hobby-items .hobby-col {
		width: 100%;
	}

}

/* RESUME */
.resume-items {
	margin: 0 -20px;
	margin-top: -60px;
	font-size: 0;
}

.resume-items .resume-col {
	margin-top: 60px;
	padding: 0 20px;
	display: inline-block;
	vertical-align: top;
	width: 50%;
}


.resume-item {
	position: relative;
	font-size: 14px;
}

.resume-item .date {
	position: absolute;
	left: -8px;
	top: -22px;
	display: inline-block;
	font-size: 11px;
	color: #68e0cf;
	font-weight: 600;
	transform-origin: bottom left;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.resume-item .icon {
	margin-bottom: 15px;
	font-size: 32px;
	height: 32px;
	color: #68e0cf;
}

.resume-item .name {
	margin: 0 0 30px 30px;
	font-size: 18px;
	color: #FFF;
	font-weight: 600;
}

.resume-item .single-post-text > *:last-child {
	margin-bottom: 0;
	text-align: justify;
}


@media (max-width: 720px) {
	.resume-item .date {
		position: relative;
		left: 0;
		top: 0;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
	}


	.resume-item .name {
		margin-left: 0;
	}

}